
<div class="sidebar-container">
 
    <div class="sidebar-header">
        <div class="branding-section">
            <app-branding></app-branding>
        </div>

        @if(showToggle) {
        <button class="close-btn" (click)="toggleMobileNav.emit()" aria-label="Fermer le menu">
            <mat-icon>close</mat-icon>
        </button> }
    </div>


    <div class="sidebar-nav-section">
   
        <div class="sidebar-nav-list">
            <app-nav-item *ngFor="let item of navItems; trackBy: trackByFn" [item]="item"></app-nav-item>
        </div>
        <ng-content></ng-content>
    </div>

</div>