<h2 mat-dialog-title class="form-title">
  {{ menuItem ? 'Modifier le plat' : 'Ajouter un plat' }}
</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="menu-form">

  <mat-form-field appearance="fill">
    <mat-label>Nom du plat</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      Le nom est obligatoire
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" rows="3" placeholder="Description du plat..."></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Prix (DT)</mat-label>
    <input matInput type="number" formControlName="price" />
    <mat-error *ngIf="form.get('price')?.hasError('required')">
      Le prix est obligatoire
    </mat-error>
    <mat-error *ngIf="form.get('price')?.hasError('min')">
      Le prix doit être positif
    </mat-error>
  </mat-form-field>

  <mat-dialog-actions align="end" class="form-actions">
    <button mat-stroked-button type="button" (click)="dialogRef.close()">Annuler</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Enregistrer</button>
  </mat-dialog-actions>
</form>
