<mat-card class="restaurant-card">

  <div class="header-container">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Rechercher un restaurant</mat-label>
      <input matInput [(ngModel)]="searchText" />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="openDialog()">
      Ajouter un restaurant
    </button>
  </div>

  <div class="table-container" *ngIf="filteredRestaurants().length > 0">
    <table mat-table [dataSource]="filteredRestaurants()" class="mat-elevation-z2" matSort>

      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let r; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let r">
          <div class="name-cell">
            <div>
              <div class="title">{{ r.name }}</div>
              <div class="subtitle">{{ r.description }}</div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Adresse</th>
        <td mat-cell *matCellDef="let r">{{ r.address }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Téléphone</th>
        <td mat-cell *matCellDef="let r">{{ r.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="cuisineType">
        <th mat-header-cell *matHeaderCellDef>Cuisine</th>
        <td mat-cell *matCellDef="let r">{{ r.cuisineType }}</td>
      </ng-container>
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef> Menu </th>
        <td mat-cell *matCellDef="let restaurant">
          <button mat-icon-button (click)="openMenuDialog(restaurant)">
            <mat-icon>restaurant_menu</mat-icon>
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let r">

          <button mat-icon-button color="warn" (click)="openDialog(r)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteRestaurant(r.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>

  <p *ngIf="filteredRestaurants().length === 0">Aucun restaurant trouvé.</p>
</mat-card>
